<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>create new lodge</h1>
    <form action="/rent/<%=item.rent_items_id%>?_method=PUT" method="post">
        <div>
            <label for="">title</label>
            <input name="title" type="text" value="<%=item.title%>" required>
        </div>
        <div>
            <label for="">description</label>
            <textarea name="description" id="" cols="70" rows="20"><%=item.description%></textarea>
        </div>
        <div>
            <label for="">location</label>
            <input name="location" type="text" value="<%=item.location%>" required>
        </div>
        <div>
            <label for="">price</label>
            <input name="price" type="number" value="<%=item.price%>" required>
        </div>
        <button>post</button>
    </form>
</body>

</html>