<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>show page for <%=item.title%></h1>
   <p><%=item.description%></p>
   <div>price: <%=item.price%></div>
   <p>seller: <a href="/profile/<%=item.username%>"><%=item.first_name%> <%=item.last_name%></a></p>
   <%items.forEach((image) => {%>
    <div>
        <img src="<%=image.image_url%>" height="100" width="100" alt="">
    </div>
   <%})%>

   <div>delete item</div>
   <div>
        <a href="/sell/<%=item.sell_items_id%>/update">update item</a>
    </div>
    <form action="/sell/<%=item.sell_items_id%>?_method=DELETE" method="post">
        <button>delete</button>
    </form>
</body>
</html>