<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>show page for <%=item.title%></h1>
   <p><%=item.description%></p>
   <div>price: <%=item.price%></div>
   <p>seller: <%=item.first_name%> <%=item.last_name%></p>

   <div>delete item</div>
    <form action="/sell/<%=item.sell_items_id%>?_method=DELETE" method="post">
        <button>delete</button>
    </form>
</body>
</html>