<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>sell page</h1>
    <a href="/lodge/new">create item for sell</a>
    <div>
        <%items.forEach((item) => {%>
        <div>

            <h3><%=item.name%></h3>
            <img src="<%=item.image_url%>" height="100" width="100" alt="">
            <p><%=item.description%></p>
            <p><%=item.price%></p>
            <a href="/lodge/<%=item.lodges_id%>">show</a>
        </div>
        <%})%>
    </div>
</body>

</html>